$font-family-sans-serif:      "Source Sans Pro";
$btn-font-weight:             light;
$green:                       #66cc66;
$alert-border-radius:         5px;
$alert-link-font-weight:      regular;
$badge-font-weight:           regular;
$close-font-weight:           regular;
//$alert-bg-level:              -10 !default;
